@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* shared styles */
* {
  margin: 0;
  padding: 0;
  font-family: lato, sans-serif;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.description {
  color: rgba(39, 39, 39, 0.6);
}
.section-title {
  color: #272727;
  font-size: 2.125rem;
  font-weight: bolder;
}
.btn-primary {
  background-color: #e55473;
  padding: 15px 30px;
  color: white;
  font-size: 1.125rem;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.bg-pink {
  background-color: rgba(229, 84, 115, 0.1);
}
.bg-gray {
  background-color: rgba(39, 39, 39, 0.05);
}
.display-flex {
  display: flex;
}

/* header styles */
.banner {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}
.banner .left h1 {
  color: #272727;
  font-size: 3rem;
  font-weight: 900;
  line-height: 50px;
  margin-bottom: 18px;
}
.banner .left p {
  margin-bottom: 25px;
  max-width: 450px;
}
.banner img {
  display: block;
  width: 100%;
}

/* main section starts here */

/* featured flowers */
.featured-flowers {
  margin-bottom: 80px;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.featured-flowers .contents {
  text-align: center;
  max-width: 600px;
}
.featured-flowers .contents h2 {
  margin-bottom: 15px;
}
.featured-flowers-container {
  justify-content: space-between;
  width: 100%;
}
.featured-flowers-subContainer {
  text-align: center;
}
.flower-bg {
  background-color: rgba(167, 33, 98, 0.15);
  border-radius: 300px 300px 0 0;
  width: 360px;
  height: 460px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 10px;
}
.flower-bg img {
  max-height: 90%;
}
.two {
  background-color: rgba(5, 151, 160, 0.15);
}
.three {
  background-color: rgba(71, 125, 17, 0.15);
}
.featured-flowers-container a {
  color: #272727;
  font-size: 1.125rem;
  font-weight: 600;
}

/* support styles */

.support {
  background-color: rgba(39, 39, 39, 0.05);
  border-radius: 8px;
  margin-bottom: 80px;
  justify-content: space-around;
  padding: 50px 0;
}

.support .icons {
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.support .icons a {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
  color: rgba(39, 39, 39, 0.8);
}

/* sale styling */
.sale-container {
  align-items: center;
  justify-content: center;
  gap: 250px;
  background-color: rgba(229, 84, 115, 0.05);
  border-radius: 8px;
  padding: 100px;
  margin-bottom: 128px;
}
.sale-left {
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.sale-left span {
  color: #e55473;
}
.sale-left p {
  max-width: 550px;
  text-align: center;
}

/* instageam container styling */
.instagram {
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}
.instagram h2 {
  margin: 0;
  margin-bottom: 24px;
}
.instagram p {
  max-width: 594px;
  text-align: center;
  margin: 0;
  margin-bottom: 48px;
}
.instagram .img-container {
  gap: 10px;
}
.images {
  width: 100%;
}
.images img {
  width: 100%;
}

/* subscribe styling */
.subscribe {
  background-image: url(./images/banner2.png);
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  padding: 100px 0;
  margin-bottom: 128px;
}
.mail {
  gap: 8px;
  margin-top: 20px;
}
.mail input {
  width: 400px;
  padding: 20px;
  border: none;
  border-radius: 8px;
  outline: none;
}

/* footer styles */
footer {
  background-color: black;
  color: white;
  padding-top: 100px;
  padding-bottom: 128px;
}
.foot {
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
footer h2 {
  font-size: 2rem;
  font-weight: bolder;
}
footer h2 span {
  color: #e55473;
}
footer .p1 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1rem;
  max-width: 625px;
  text-align: center;
}
footer .p2 {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.9rem;
}
/* responsive */
@media (max-width: 992px) {
  .banner,
  .featured-flowers-container,
  .support,
  .sale-container,
  .mail {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .mail input {
    width: 200px;
  }
}
