@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
  font-family: lato, sans-serif;
}
/* shared styles */
.description{
  color: rgba(39, 39, 39, 0.60);
  font-size: 1.13rem; 
}
.section-title{
  color: #272727;
  font-size: 2.5rem;
  font-weight: bolder;
}
.btn-primary{
  background-color: #E55473;
  padding: 20px 43px;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 8px;
  border: none;
}
.bg-pink{
  background-color: rgba(229, 84, 115, 0.10);
}
.bg-gray{
  background-color: rgba(39, 39, 39, 0.05);
}
.display-flex{
  display: flex;
}

/* header styles */
.banner{
    max-width: 1920px;
    margin: 0 auto;
    align-items: center;
    gap: 97px;
    padding: 50px 240px 0 240px;
    margin-bottom: 178px;
}
.banner .left{
  margin-bottom: 32px;
  max-width: 708px;
}
.banner .left h1{
  color: #272727;
  font-size: 5rem;
  font-weight: 900;
}